/* Main header color: #212121 */
/* Secondary color: #757575 */
/* Accent color: #2196F3 */
/* White color main: #FFFFFF */
/* White color second: rgba(255, 255, 255, 0.6) */

/* Declaration of variables for main colors */
:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
}

/* General rules for colors(body) */
.page {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

/* Page logo */
.logo {
  text-decoration: none;
  color: #000000;
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.19;
}

.logo span {
  color: var(--accent-color);
}

/* Navigation section */
.list {
  list-style: none;
}

.nav .link {
  text-decoration: none;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.nav .link:hover,
.nav .link:focus {
  color: var(--accent-color);
}

.nav .link.current {
  color: var(--accent-color);
}

/* Section mail and phone contacts */
.telto,
.mailto {
  color: var(--primary-text-color);
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.mailto:hover,
.mailto:focus {
  color: var(--accent-color);
}

/* Section's headers style */
.section-title {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}

/* Advantages headers */
.advantage-list .title {
  color: var(--title-text-color);
}

/* Our team */

.team {
  background-color: #f5f4fa;
}

.team-member {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.role {
  color: var(--title-text-color);
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-title {
  color: var(--title-text-color);
}

.team-card {
  background-color: #ffffff;
  width: 270px;
  height: 368px;
}

/* Button on Hero section */
.button {
  width: 216px;
  height: 50px;
  background-color: var(--accent-color);
  color: #ffffff;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
}

.button:active {
  background-color: #188ce8;
}
/* Hero section */
.hero {
  background-color: #2f303a;
  color: #ffffff;
  width: 1600px;
  height: 600px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
}

.footer {
  background-color: #2f303a;
  width: 1600px;
  height: 252px;
}

.footer-logo span {
  color: var(--accent-color);
}

.footer-logo {
  color: #ffffff;
  text-decoration: none;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-list,
.footer-address {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}

/* Portfolio buttons */
.portfolio-button {
  background-color: #f5f4fa;
}

.portfolio-button:focus,
.portfolio-button:hover {
  background-color: var(--accent-color);
  color: #ffffff;
}

/*
Raleway 700
Roboto 400 500 900 700 */
