/* ------------Header----------- */
:root {
  --primary-text-color: #757575;
  --primary-title-color: #212121;
  --accent-color: #2196f3;
}

.page {
  font-family: "Roboto", sans-serif;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}
.header {
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}

.header-logo-decoration {
  color: #000000;
}
.header-list,
.header-adress-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}
.header-link {
  text-decoration: none;
  color: var(--primary-title-color);
}
.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-adress-link {
  text-decoration: none;
  color: var(--primary-text-color);
}

.header-adress-link:hover,
.header-adress-link:focus {
  color: var(--accent-color);
}

/* Section Hero */
.hero {
  background-color: #2f303a;
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.hero-button {
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
}
.hero-button:active {
  background-color: #188ce8;
}

/* Feature */
.feature {
}
.feature-title {
  visibility: hidden;
}
.feature-list {
}
.feature-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-title-color);
}

.feature-text {
  /* font-family: "Roboto"; */
  /* font-style: normal; */
  /* font-weight: 400; */
  /* font-size: 14px; */
  /* line-height: 1.71; */
  /* letter-spacing: 0.03em; */
  /* color: #757575; */
}

/* Activity */
.activity {
}
.activity-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.activity-list {
}
.list {
}

/* Our team */
.team {
  background-color: #f5f4fa;
}
.team-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-title-color);
}
.team-list {
}

.team-card {
  background-color: #ffffff;
  width: 270px;
  height: 368px;
}
.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-title-color);
}
.team-role {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

/* Footer */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
  text-decoration: none;
}
.footer-logo-decoration {
  color: #ffffff;
}
.footer-list {
}
.footer-address-link {
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-map {
  font-style: normal;
  color: #ffffff;
  text-decoration: none;
}

/* Portfolio page */

.radiobutton {
}
.radiobutton-title {
  visibility: hidden;
}
.radiobutton-list {
  /* font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;

  /* identical to box height, or 162% */
  /* text-align: center;
  letter-spacing: 0.03em;
  color: #ffffff; */
}
.radiobutton-list-item {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: inherit;
  color: var(--primary-title-color);
  background-color: #f5f4fa;
}
.radiobutton-list-item:hover,
.radiobutton-list-item:focus {
  background-color: var(--accent-color);
  color: #ffffff;
}
.cards {
}
.cards-list {
}
.cards-list-item {
}
.cards-link {
  text-decoration: none;
  color: inherit;
}
.cards-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--primary-title-color);
  text-decoration: none;
}
.cards-text {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}
